p{
	font-family: Arial;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}
.div{
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	display: inline-block;
	margin-left: 8px;
	width: 200px;
}

.thumbnail{
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin-bottom: 12px;
}

.name{
	font-weight: bold;
	font-size: 18px;
	margin-left: 8px;
	margin-bottom: 4px;
}

.mutual-friends{
	color: rgb(100,100,100);
	display: block;
	margin-left: 8px;
	margin-bottom: 12px;
}

.button{
	background-color: rgb(24,119,242);
	color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 4px;
	margin-left: 8px;
	margin-bottom: 10px;
	font-size: 16px;
}